@import "tailwindcss";

@theme {
    /* Light base */
  --color-bg-main: #f7f8fb;
  --color-bg-secondary: #ffffff;
  --color-surface: #eef1f6;

  /* Dark brand zones */
  --color-brand-dark: #0b0b0f;
  --color-brand-darker: #07070a;

  /* Text */
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;

  /* Accent */
  --color-accent-primary: #ffb000;
  --color-accent-secondary: #ff7a18;


  /* --color-bg-main: #ffffff;
  --color-text-primary: #0a2540;
  --color-bg-secondary: #f4f7fa;
  --color-accent-gold: #e5a93c; */
}


* {
  /* Light base */
  --color-bg-main: #f7f8fb;
  --color-bg-secondary: #ffffff;
  --color-surface: #eef1f6;

  /* Dark brand zones */
  --color-brand-dark: #0b0b0f;
  --color-brand-darker: #07070a;

  /* Text */
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;

  /* Accent */
  --color-accent-primary: #ffb000;
  --color-accent-secondary: #ff7a18;
}